{% extends "base_dashboard.html" %}

{% block title %}AI Tool Dashboard{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container" style="padding-top: 60px;">
    <h1 class="text-center text-white mb-4">AI USDOT Lookup Tool From Images!</h1>
        <div class="card p-4 shadow-sm">
            <h4>Upload to scan your truck images</h4>
            <form id="upload-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="file" id="file-input" class="form-control" name="files" multiple accept="image/*">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    <div id="status" style="margin-top: 20px;"></div>
    {% if result_texts %}
    <div class="card mt-4 p-4 shadow-sm">
        <h4>Extracted Texts:</h4>
        {% for text in result_texts %}
        <textarea class="form-control mb-3" rows="5" readonly>{{ text }}</textarea>
        {% endfor %}
    </div>
    {% endif %}

    {% if usdots %}
    <div class="alert alert-success mt-4">
        <h5>DOT Numbers Found!</h5>
        <ul>
            {% for dot in usdots %}
            <li>{{ dot }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!-- Table Results section -->
    <div class="card mt-4 p-4 shadow-sm">

        <h4>USDOT Number Records</h4>

        <!-- Table filters -->
        <form id="filter-form" class="mb-4" data-dashboard-type="{{ dashboard_type }}">
            <div class="row">
                <div class="col-md-4">
                    <label for="legal_name" class="form-label">Legal Name</label>
                    <input type="text" id="legal_name" name="legal_name" class="form-control" placeholder="Enter legal name">
                </div>
                <div class="col-md-4">
                    <label for="carrier_interested" class="form-label">Carrier Interested</label>
                    <select id="carrier_interested" name="carrier_interested" class="form-select">
                        <option value="">All</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="client_contacted" class="form-label">Client Contacted</label>
                    <select id="client_contacted" name="client_contacted" class="form-select">
                        <option value="">All</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
        </form>

        <!-- Table Results dynamically loaded using js -->
        <div id="scrollable-container" style="height: 500px; overflow-y: auto;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>DOT Number</th>
                        <th>Legal Name</th>
                        <th>Phone Number</th>
                        <th>Mailing Address</th>
                        <th>Created At</th>
                        <th>Client Contacted</th>
                        <th>Client Followed Up</th>
                        <th>Follow Up By Date</th>
                        <th>Carrier Interested</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be dynamically loaded here -->
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <a href="/data/export/carriers" class="btn btn-outline-success me-2">
                <i class="bi bi-download"></i>
            </a>
            <button id="revert-button" class="btn btn-secondary me-2" disabled>Revert</button>
            <button id="submit-button" class="btn btn-primary" disabled>Submit</button>
        </div>
    </div>



</div>

{% endblock %}

{% block js_scripts %}
<script src="https://cdn.jsdelivr.net/npm/heic2any/dist/heic2any.min.js"></script>
<script type="module" src="/static/update_carrier_engagement.js"></script>
<script type="module" src="/static/upload.js"></script>
{% endblock %}