{% extends "base_dashboard.html" %}

{% block title %}Lookup History{% endblock %}

{% block content %}

<div class="container" style="padding-top: 60px;">
    <h1 class="text-center text-white mb-4">USDOT Upload and Lookup History</h1>
    

    <!-- Table Results section -->
    {% if results %}
    <div class="card mt-4 p-4 shadow-sm">
        <h4>DOT Number Records</h4>
        <table class="table table-bordered table-hover">
            <thead class="table-light">
            <tr>
            <th style="font-size: calc(0.1em + 1.3vw);">DOT Number</th>
            <th style="font-size: calc(0.1em + 1.3vw);">Legal Name</th>
            <th style="font-size: calc(0.1em + 1.3vw);">Phone Number</th>
            <th style="font-size: calc(0.1em + 1.3vw);">Mailing Address</th>
            <th style="font-size: calc(0.1em + 1.3vw);">Created At</th>
            <th style="font-size: calc(0.1em + 1.3vw);">Filename</th>
            </tr>
            </thead>
            <tbody>
            {% for ocr_result in results %}
            <tr>
            <td style="font-size: calc(0.1em + 1.3vw);">
            <a href="{{ url_for('dot_carrier_details', dot_number=ocr_result.dot_reading) }}" class="dot-link">
                {{ ocr_result.dot_reading }}
            </a>
            </td>
            <td style="font-size: calc(0.1em + 1.3vw);">{{ ocr_result.carrier_data.legal_name }}</td>
            <td style="font-size: calc(0.1em + 1.3vw);">{{ ocr_result.carrier_data.phone }}</td>
            <td style="font-size: calc(0.1em + 1.3vw);">{{ ocr_result.carrier_data.mailing_address }}</td>
            <td style="font-size: calc(0.1em + 1.3vw);">{{ ocr_result.timestamp }}</td>
            <td style="font-size: calc(0.1em + 1.3vw);">{{ ocr_result.filename }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end mt-3">
            <a href="/export_lookup_history" class="btn btn-outline-success me-2">
                <i class="bi bi-download"></i>
            </a>
        </div>
    </div>

    {% else %}
    <div class="alert alert-warning mt-4">
        <p>No OCR results yet! Upload an image to start showing some results.</p>
    </div>
    {% endif %}

    <!-- Navigation controls for the table -->
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if current_page > 1 %}
            <li class="page-item">
                <a class="page-link" href="/lookup_history?page={{ current_page - 1 }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            {% endif %}
    
            {% for page_num in range(1, total_pages + 1) %}
            <li class="page-item {% if page_num == current_page %}active{% endif %}">
                <a class="page-link" href="/lookup_history?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endfor %}
    
            {% if current_page < total_pages %}
            <li class="page-item">
                <a class="page-link" href="/lookup_history?page={{ current_page + 1 }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}